@model WebApplication1.Models.Schedules.DeleteScheduleViewModel

<form asp-action="Delete" typeof="post">

	<h2>Сигурни ли сте, че искате да изтриете тази програма?</h2>
	<h5>Заглавие: @Model.Title</h5>
	<h5>Резюме: @Model.Summary</h5>
	<h5>Съдържание: @Model.Content</h5>
	<h5>Линк: @Model.ImageUrl</h5>

	<button type="submit" asp-route-id="@Model.Id" class="btn btn-success" type="post">Да</button>
	<a asp-action="Index" class="btn btn-danger">Не</a>
</form>
<style>
	form {
		margin: 3% 10% 0 10%;
	}
</style>